.navbar {
  background-color: #1f2937;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.2rem;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  max-width: 1500px;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  height: 60px;
}

.nav-link {
  color: #f3f4f6;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}

.nav-link:hover {
  color: #10b981;
  transition: all 0.3s ease;
}

.active {
  background-color: #4caf50;
}
